{% extends "base.html" %}

{% block title %}
{{pageEmail}}'s Page
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p class="notification">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
Email: {{pageEmail}}</br>
{% if pageEmail == session['currentEmail'] %}
</br>
Password: <button onclick="showField('inputform')"id='normalbutton'>Change Password</button>
</br>
<form  id="inputform" action = "#" method="POST" style="display:none;">
    <table>
        <tr>
            <th>Old Password: </th>
            <th><input type = "password" name = "oldpassword" placeholder="Old Password" minlength="6" maxlength="30" required/></th>
        </tr>
        <tr>
            <th>New Password: </th>
            <th><input type = "password" name = "newpassword" placeholder="New Password" minlength="6" maxlength="30" required/></th>
        </tr>
        <tr>
            <th>Repeat New Password: </th>
            <th><input type = "password" name = "repeatnewpassword" placeholder="Repeat New Password" minlength="6" maxlength="30" required/></th>
        </tr>
        <tr>
            <th>
                <button type="submit" id = "normalwhitebutton" name="submit" value="Change Password">Change Password</button>
                <button id = "normalwhitebutton" onclick="showField('inputform')">Cancel</button>
            </th>
        </tr>
    </table>
</form>
{% endif %}
</br>
{{pageEmail}}'s posts:
</br>
{% if posts %}
Some posts
{% else %}
No posts
{% endif %}
<script>
    function showField(id) 
    {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

{% endblock %}