version: 2.1
jobs:
  build-docker-compose:
    docker: # run the steps with Docker
      - image: cimg/openjdk:16.0.0
    steps: # a collection of executable commands 
      - checkout 
      - setup_remote_docker
      - run:
          command: docker-compose build
      - persist_to_workspace:
          root: .
          paths:
            - ./docker-compose.yml
           
workflows:
  build:
    jobs:
      - build-docker-compose