   {% extends "base.html" %}
{% block title %}
Login Page
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <p class="notification">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form  id="inputform" action = "#" method="POST">
    <table>
        <tr>
            <th>Email: </th>
            <th><input type = "text" name = "email" placeholder="Email" required/></th>
        </tr>
        <tr>
            <th>Password: </th>
            <th><input type = "password" name = "password" placeholder="Password" required/></th>
        </tr>
        <tr>
            <th>
                <input type = "submit" id = "normalwhitebutton"  name = "submit" value = "Login"/>
            </th>
            <th style = "text-align:center">
                If not a member, <a href="/register" style="text-decoration:underline;color:#29e004;">register</a> now!
            </th>
        </tr>
    </table>
</form>

{% endblock %}