
html, body {
    font-family: Comic Sans MS;
    font-size: 25px;
    position: relative;
    min-height: 100%;
}

nav {
    padding: 15px;
    height: 100px;
    background-color: rgb(8, 71, 122);
    position: relative;
}

nav #menu {
    margin-top: 0px;
    float: right;
}
nav #search {
    display: inline-flex;
}
#search
{
    display: inline-flex;
}
a {
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

a:hover {
    color: rgb(4, 158, 206);
}

a:active {
    color: rgb(2, 44, 122);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;

}
nav li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

table {
    background-color:rgb(8, 71, 122);
    border: 2px solid black;
    border-collapse: separate;
    padding: 15px;
    vertical-align: middle;
    border-spacing: 15px;
    position: fixed;
    margin-top: 50px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

th, td {
    padding: 15px;
}

h3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background: rgb(1, 53, 121);
    border-radius: 3px;
}

#inputform input {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0 20px 0;
}

#inputform input[type="submit"] {
    background: #ffffff;
    border: 0;
    cursor: pointer;
}
#inputform th 
{
    color:white;
}
#inputform2 input {
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 12px;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0 20px 0;
}

#inputform2 input[type="submit"] {
    background: #ffffff;
    border: 0;
    cursor: pointer;
}
#inputform2 th 
{
    color:white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#displaybox {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px; 
    padding: 50px;
    background: #fff;
    height: 700px;
    width: 90%;
    border: 2px solid #000000;
    overflow: auto;
    border-radius: 4px;
}


#addtocart
{
    background: rgb(1, 93, 146);
    border: 2px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}
#normalbutton
{
    background: rgb(1, 93, 146);
    border: 2px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}
#normalbutton:disabled
{
    background: #c40202;
}
#normalbutton:hover:disabled
{
    background: #c40202;
}
#normalbutton:hover
{
    background: rgb(4, 158, 206);
}
#normalbutton:active
{
    background: rgb(3, 34, 117);
}
#normalwhitebutton
{
    background: #ffffff;
    border: 0;
    cursor: pointer;
}


#addtocart:disabled
{
    background: #c40202;
}
#addtocart:hover:disabled
{
    background: #c40202;
}
#addtocart:hover
{
    background: rgb(4, 158, 206);
}
#searchaddtocartbutton:active
{
    background: rgb(3, 34, 117);
}
#userarea 
{
    position: absolute;
    flex: 1;
    width: 25%;
    height: 170px;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
    border: 2px solid #000000;
    display:inline;
}

#userimage
{
    
    padding-top: 70px;
    padding-left: 20px;
    width: 120px;
    height: 200px;
}
#searchbox
{
    width: 100%;
    height: 50px;
    margin-left: 25%;
    border-radius: 4px;
    border: 2px solid #000000;
}

#image
{
    flex: 1;
    width: 55%;
    height: 50px;
    margin-bottom: 0.5%;
    margin-left: 30.5%;
    border-radius: 4px;
    border: 2px solid #000000;
}

#itemimage
{
    width: 400px;
    height: 400px;
}

#itembox
{
    padding: 75px;
    margin: 25px;
    border-radius: 4px;
    border: 2px solid #000000;
}
#allbutton
{
    background: rgb(4, 158, 206);
    margin-top: 30px;
    margin-left: 5%;
    border: 2px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}
#searchbutton
{
    background: rgb(4, 158, 206);
    margin-top: 30px;
    border: 2px solid #000000;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}
#allbutton:disabled
{
    background: #c40202;
}
#allbutton:hover:disabled
{
    background: #c40202;
}
#allbutton:hover
{
    background: rgb(4, 158, 206);
}
#allbutton:active
{
    background: rgb(3, 34, 117);
}
#searchbutton:disabled
{
    background: #c40202;
}
#searchbutton:hover:disabled
{
    background: #c40202;
}
#searchbutton:hover
{
    background: rgb(4, 158, 206);
}
#searchbutton:active
{
    background: rgb(3, 34, 117);
}
