.header {
    padding: 10px;
    float: right;
    margin-left: auto;
}
.header a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: large;
}
.header a svg {
    width: 25px;
    margin-right: 5px;
}

.notification {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background: rgb(0, 29, 90);
    border-radius: 3px;
}